@import url('https://fonts.googleapis.com/css?family=Kanit');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

body {
  padding: 35px 100px 10px 100px;
}



header {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1.5px solid green;
}

header .logo-container {
  display: flex;
  align-items: center;
}

header .logo-container img {
  width: 35px;
  height: 35px;
}
header .logo-container span {
  font-size: 25px;
  color: green;
}



header ul {
  text-decoration: none;
}

header ul li {
  display: inline;
  margin-right: 100px;
  font-size: 20px;
}

header ul li:last-child {
  margin-right: 0px;
}

header .search-and-login-container {
  display: flex;
  align-items: center;
}

header .search-and-login-container .search-icon {
  margin-right: 40px;
  width: 25px;
  height: 25px;
}

header .search-and-login-container .shopping-icon {
  margin-right: 40px;
  width: 25px;
  height: 25px;
}

header .search-and-login-container .login {
  background-color: #46A358;
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 30px;
}

.banner {
  display: flex;
  justify-content: space-between;
  height: 450px;
  background: #f5f5f5;
  margin-bottom: 40px;
}

.banner .text-banner {
  text-align: left;
  padding-top: 60px;
  padding-left: 40px;
  
}

.banner .text-banner h1 {
  line-height: 1;
  width: 600px;
  font-size: 70px;
}

.banner .text-banner p {
  width: 605px;
}

.banner .text-banner span {
  color:green;
}

.banner .text-banner .banner-two-p {
  margin-bottom: 50px;
}

.banner .text-banner button{
  width: 140px;
  height: 40px;
  background: #46A358;
  color: white;
  border-radius: 5px;
}


.banner .img-banner img{
  width: 450px;
  height: 450px;
}

.designUlBlock{
  list-style: none;
  padding-left: 20px;
  cursor: pointer;
}
.designUlBlock li {
  margin-bottom: 10px;
  display: block;
}

.designUlInline {
  list-style: none;
  cursor: pointer;
}
.designUlInline li {
  display: inline;
  margin-right: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr 1fr; /* Первая колонка уже на 25% */
  grid-template-rows: auto 1fr 1fr 1fr 1fr 30px; /* Первая и последняя строки авто, остальные растягиваются */
  gap: 30px;
  width: 100%;
  height: 1300px;
  
  margin-bottom: 80px;
}

.sidebar {
  grid-area: 1 / 1 / 6 / 2;
  width: 310px;
}

.sidebar .categoties-container{
  margin-bottom: 50px;
}


.sidebar .categoties-container span{
 float: right;
}

/* .sidebar .size-container img {
  width: 100%;
  height: 470px;
} */

.sidebar .size-container .img-sale{
  width: 100%;
  height: 500px;
  background: url(./img/supersale.png) center/cover no-repeat;
}

.sidebar .price-range-container{
  margin-bottom: 50px;
}

.sidebar .price-range-container button{
  width: 90px;
  height: 35px;
  background-color: #46A358;
  color: white;
  border-radius: 5px;
}


.sidebar .size-container span{
  float: right;
 }

.sort {
  grid-area: 1 / 2 / 2 / 5;
  display: flex;
  justify-content: space-between;
  align-self: start; /* Прижать к верхней границе строки */
  height: auto; /* Автоматическая высота */
}

.sort .sort-text {
}

.sort .sorting {
  display: flex;
  justify-content: space-around;
}

.products {
  grid-area: 2 / 2 / 6 / 5;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch; /* Растягивается на всю оставшуюся высоту */
}

.products .item {
  margin-right: 60px;
}

.products .item img{
  width: 250px;
  height: 250px;
}

.grid-container .nav {
  grid-area: 6 / 1 / 7 / 5;
}

.grid-container .nav .nav-buttons{
  float: right;
}

.grid-container .nav .nav-buttons button{
  margin-right: 20px;
  width: 30px;
  height: 30px;
  color:white;
  background-color: #46A358;
  border-radius: 5px;
}

.second-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.second-banner-first-container {
  width: 650px;
  display: flex;
  flex-wrap: wrap;
  background-color: #FBFBFB;
}

.second-banner-first-container .second-banner-first-text {
  width: 290px;
  text-align: right;
  padding-top: 100px;
}


.second-banner-first-container .second-banner-first-text, .second-banner-second-text b{
  font-size: 18px;
}

.second-banner-first-container .second-banner-first-text .second-banner-b{
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
}

.second-banner-first-container .second-banner-first-text p{
  font-size: 14px;
  display: block;
  margin-bottom: 30px;
}

.second-banner-first-container .second-banner-first-text button{
  background-color: #46A358;
  color: white;
  width: 140px;
  height: 40px;
  border-radius: 5px;
}


.second-banner-second-container {
  width: 650px;
  display: flex;
  flex-wrap: wrap;
  background-color: #FBFBFB;
}

.second-banner-second-container .second-banner-second-text{
  width: 290px;
  text-align: right;
  padding-top: 100px;
}

.second-banner-first-container .second-banner-first-text, .second-banner-second-text b{
  font-size: 18px;
}

.second-banner-second-container .second-banner-second-text .second-banner-two-b{
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
}

.second-banner-second-container .second-banner-second-text p{
  font-size: 14px;
  display: block;
  margin-bottom: 30px;
}

.second-banner-second-container .second-banner-second-text button{
  background-color: #46A358;
  color: white;
  width: 140px;
  height: 40px;
  border-radius: 5px;
}

.second-banner img{
  width: 292px;
  height: 292px;
}

/* Общие стили для окна Авторизации и Регистрации */
.login-container, .registration-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  overflow: auto;
}

.login-container-background, .registration-container-background {
  background-color: #FFFFFF;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.login-container-background .logo, .registration-container-background .logo {
  text-align: center;
  font-size: 25px;
  margin-bottom: 70px;
}

.exit {
  cursor: pointer;
  float: right;
}

.login-container-background img, .registration-container-background img {
  width: 90px;
  height: 90px;
}

.login-container .login-main, .registration-container .registration-main {
  text-align: center;
}

.login-container .login-main p, .registration-container .registration-main p {
  font-size: 20px;
  margin: 20px;
}

.login-container .login-main input, .login-container .login-main button,
.registration-container .registration-main input, .registration-container .registration-main button {
  width: 350px;
  height: 50px;
  border-radius: 5px;
}

.login-container .login-main button, .registration-container .registration-main button {
  background-color: #46A358;
  color: white;
  font-size: 16px;
}

.login-container .login-main .login-text, .registration-container .registration-main .username-text,
.registration-container .registration-main .email-text, .registration-container .registration-main .password-text {
  margin-bottom: 20px;
}

.login-container .login-main .password-text, .registration-container .registration-main .passwordrepeat-text {
  margin-bottom: 50px;
}

.login-container > div, .registration-container > div {
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #f5f5f5;
  border-radius: 5px;
}